# Node modules
/node_modules/
npm-debug.log
yarn-error.log

# Laravel & PHP
/vendor/
/composer.lock

# Environment files
.env
.env.backup
.env.production
.env.*.php

# PHPUnit cache
.phpunit.result.cache

# Homestead files
Homestead.json
Homestead.yaml

# Auth files
auth.json

# Vite files and builds
/public/build/
/public/hot/
/public/storage/

# Resource generated assets (optional)
/resources/js/*.js
/resources/css/*.css
public/css/app.css
public/js/app.js

# Storage and logs
/storage/*.key
/storage/debugbar/
/storage/logs/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/

# Bootstrap cache
/bootstrap/cache/*.php

# IDE & system files
/.idea/
/.vscode/
/.fleet/
/*.swp
.DS_Store
