@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD

.card {
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-header {
    font-weight: bold;
    background-color: #f8f9fa;
}

.table {
    margin-top: 20px;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.form-group {
    margin-bottom: 0;
}

.btn-primary {
    width: 100%;
}
=======
>>>>>>> 2f20f73a4a564310b533c9bd07a33dddc6cdf276
